

@mixin primary-border {
    border: 1px solid $secondary_color--light;
}

@mixin button-border{
    border: 1px solid $secondary_color;
}

@mixin input-border{
    border: 1px solid $secondary_color;
}

@mixin primary_header($header){
    // font-family: 'Sharp Grotesk DB Cyr Medium 22';
    /* color: red; */
    font-family: $header_font;
    font-size: 35px;
    position: relative;
    z-index: 2;
    color: $secondary_color;
}